AWS_ACCESS_KEY_ID={{ unifi_backup_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ unifi_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ unifi_backup_aws_region }}
SERVICE_NAME={{ unifi_service_name }}
BACKUP_FROM=/backup/mongodb
BUCKET_NAME={{ unifi_backup_s3_bucket }}
