[Unit]
Description=Backup {{ service }} to S3
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker exec backup-toolkit /backup.sh
User=root

[Install]
WantedBy=multi-user.target
