[Unit]
Description=MongoDB for UniFi Controller
After=local-fs.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=docker.io/mongo:4.4.25
ContainerName=mongodb
Volume=mongodb-data.volume:/data/db
PublishPort=27017:27017
Network=unifi.network

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
