[Unit]
Description=Traefik reverse proxy
After=unifi-controller.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Container]
Image=traefik:v3.6
ContainerName=traefik
PublishPort=443:443
Volume={{ unifi_traefik_config_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro
Volume={{ unifi_traefik_config_dir }}/dynamic:/etc/traefik/dynamic:ro
Volume={{ unifi_cert_dir }}:/certs:ro
Network=unifi.network

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
