AWS_ACCESS_KEY_ID={{ uosserver_backup_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ uosserver_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ uosserver_backup_aws_region }}
MOSQUITTO_HOST={{ uosserver_backup_mosquitto_host }}
MOSQUITTO_USERNAME={{ uosserver_backup_mosquitto_username }}
MOSQUITTO_PASSWORD={{ uosserver_backup_mosquitto_password }}
MOSQUITTO_TOPIC={{ uosserver_backup_mosquitto_topic }}
SERVICE_NAME={{ uosserver_service_name }}
BACKUP_FROM=/backup/unifi
BUCKET_NAME={{ uosserver_backup_s3_bucket }}
S3_PREFIX={{ uosserver_backup_s3_prefix }}
